*.jl.*.cov
*.jl.cov
*.jl.mem
/docs/build/
/local
/student_information.csv
/qrcode_Python_for_beginners_1-4.csv
/qrcode_Python_for_beginners_5-8.csv
/qrcode_Python_for_beginners_9-12.csv
/qrcode_Python_for_beginners_13-16.csv
/test_reply_sheet.pdf
